#title{
  margin-top: 70px;
}
img {
  max-width:60%;
  height: auto;
  margin: 20px;
  padding: 10px;
}

span {
  text-decoration:overline;
  color: red;
}

#nav {
  margin: -10px;
  width: 100%;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f3f3;
}
#nav li {
  float: left;
  color: black;
  margin: 0;
   padding: 0;
}

#nav li a:hover {
  background-color: #f4bf42;
  color: white;
}

#nav a {
  display: block;
  padding: 10px;
}


svg {
    border: 1px solid black;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }


.queueLink {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

.queueNode {
  stroke: #ccc;
  stroke-width: 2px;
}

.node {
  stroke: #ccc;
  stroke-width: 2px;
}

.node text { 
  font: 12px sans-serif; 
}