#title{
  margin-top: 70px;
}
img {
  max-width:60%;
  height: auto;
  margin: 20px;
  padding: 10px;
}


#nav {
  margin: -10px;
  width: 100%;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f3f3;
}
#nav li {
  float: left;
  color: black;
  margin: 0;
   padding: 0;
}

#nav li a:hover {
  background-color: #f4bf42;
  color: white;
}

#nav a {
  display: block;
  padding: 10px;
}


svg {
    border: 1px solid black;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }


.queueLink {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

.queueNode {
  stroke: #ccc;
  stroke-width: 2px;
}

.fixLink {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

.fixNode {
  stroke: #ccc;
  stroke-width: 2px;
}

.node {
  stroke: #ccc;
  stroke-width: 2px;
}

.node text { 
  font: 12px sans-serif; 
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;         
    height: 28px;       
    padding: 2px;       
    font: 12px sans-serif;    
    background:  #f4bf42; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.zero {
  stroke: lightgrey;
  stroke-width: 1px;
}

#temp p {
  padding : 1px;
  margin: 0;
}

.dot1 {
  height: 15px;
  width: 15px;
  background-color: #efead2;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: #e3efd2;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 15px;
  width: 15px;
  background-color: #d2ddef;
  border-radius: 50%;
  display: inline-block;
}
.dot4 {
  height: 15px;
  width: 15px;
  background-color: #efd2ea;
  border-radius: 50%;
  display: inline-block;
}